@mixin telefono{
  @media(min-width: $telefono){
    @content;
  }
}

@mixin tabletAncha {
  @media(min-width:$tabletAncha){
    @content;
  }
}


@mixin tablet {
  @media(min-width:$tablet){
    @content;
  }
}

@mixin escritorio {
  @media (min-width:$escritorio) {
    @content;
  }
}


@mixin flex-align-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin alineado-verticalmente($posicion){
    display: flex;
    align-items: $posicion;
}

@mixin grid($numColumnas, $tamanio){
  display: grid;
  grid-template-columns: repeat($numColumnas, $tamanio);
}

