//paleta de colores
$azul: #122348;
$amarillo:#EFB810;
$azulClaro:#38B6FF;
$amarilloClaro:#FFD359;

//fuente
$fuentePrincipal:'Poppins', sans-serif;


//tamaños media Queries
$telefono:330px;
$tablet:768px;
$tabletAncha: 479px;
$escritorio:1200px;

//fuente
$delgada:300;
$regular:400;
$bold:700;

//separacion
$separacion:5rem;