
.banner-servicios{
    background-color: #F7FDFB;
    
    h2,p{
        text-align: center;
        color: $azul;
    }
}
.contenedor-informacion-servicios{
   @include escritorio{
    @include grid (3,1fr);
    gap: 2rem;
   }
}
.informacion-servicios{
   @include escritorio{
       border: 1.5px solid $azul;
   }
    padding: 1rem;
}
.informacion-servicio{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    p{
        color: $azul;
        @include tablet{
            width: 75%;
           
        }
        @include escritorio{
            // text-align: center!important;
            width: 90%;
        }

    }
  
    
}
.icono-servicio{
   display: flex;
   flex-direction: column;
   align-items: center;
   
   h3{
       color: $amarillo;
       text-transform: capitalize;
   }
}
// .ultimo{
//     grid-column: 2/4;
// }


