.vista-servicios{
    @include banner-bg-imagen( url(/src/img/banner_servicios.jpg));
    @include difuminado-transparente($negroTransparente);
  
}

.texto-vista-servicios{
   @include texto-bg-transparente;
}
.texto-vista-servicios{
    display: flex;
    align-items: center;
    height: 95%;
}

.seccion-servicio{
    padding-top: 5rem; 
    @include grid(2,1fr);
    gap: 5rem;

    .mover-servicio2{
        grid-column: 2/3;
    }

    .mover-imagen2{
        grid-row: 1/2;
    }
}

.txt-seccion-servicio{
  
    p{
         color: $azul;
         text-align: justify;
    }
    h2{
        color: $azul;

        @include adorno-texto(1rem);
    }
}
//Lista de los servicios
.lista-servicios{
    padding-left: 0;
    li{
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 4rem;
        font-weight: bold;
        @include adorno-texto(.5rem);
    }
    p{
        margin-right: 1rem;
    }
}

//boton de contratar
.boton-contratar-servicio{
    margin-top: 5rem;
   display: flex;
   justify-content: center;
    button{
        font-size: 2rem;
        border: none;

        &:hover{
            cursor: pointer;
        }
    }
}