.banner-nosotros{
    padding-top: 5rem;
    background: url(/src/img/bannerNosotros.jpg);
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    &::before{
        content: '';
        background-color: rgba(0,0,0,.4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       
    }
}

.texto-banner-nosotros{
    position: relative;
    z-index: 1;
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h1{
       
        color: #fff;
        background-color: rgba($azul, .8);
        padding: 2rem;
    }
}
.vista-conocenos{
    padding: 5rem;
}
.contenedor-conocenos{
    @include tablet{
        @include grid(2,1fr);
        gap: 2rem;


        .mover-imagen{
            
            grid-row: 1/2;
        }
    }
}

.texto-conocenos{
    h2{
        color: #fff;
        background-color: $azul;
        width: 70%;

        &::before{
            content: '>';
            color: $amarillo;
            margin-right: 1rem;
        }
    }
    p{
        text-align: justify;
        color: $azul;

        
    }
}

.contenido-filosofia{
    @include grid(2,1fr);
}
.contenedor-texto-filosofia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.contenido-texto-filosofia{
    h2{
        color: $azul;
        &:first-of-type{
            margin-top: 0;
        }

        &::before{
            content: '>';
            color: $amarillo;
            margin-right: 1rem;
        }
    }

    
    .ultimo-filosofia{
        margin-bottom: 0;
        padding-bottom: 5rem;
    }
    
}

.imagen-filosofia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .frase-filosofia{
        p{
            color: rgba($azul, .5);
            font-style: italic;
        }
    }
}